@import '../../styles.scss';

.field {
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-image: url('../../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @include center-flex;
}

.card-stack {
    position: relative;

    img {
        position: absolute;
        width: 120px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: translateY(-10px) scale(1.1);
    }
}

.played-card {
    right: 25px;
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}


@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.7);
    }

    60% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
    }
}

.player-position {
    position: absolute;
    right: 0;
}

.btn-add {
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.pin-bottom {
    position: absolute;
    left: 100px;
    right: 100px;
    bottom: 32px
}