@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin full-size {
    height: 100%;
    width: 100%;
}

@mixin fullvh {
    height: 100vh;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}